* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  --gray:#a8a8b3;
  --gray-light:#737380;
  --pink:#e559f9;
  --gray-white: #f8f8f8;
  --gray-white-light:#e2e2e2;
  --white:#fff;
  --black-800: #29292e;
  --purple:#835afd;

}

body {
  background: var(--gray-white);
  color: var(--black-800);
}

body,
input,
button,
textarea {
  font: 400 1rem "Roboto", sans-serif;
}
